#main{
    width: calc(100vw - 250px);
    display: flex;
    justify-content: center;
    margin: 50px 0 0 0;
    color: white;

    .infos{width: 90%; padding: 25px; border-radius: 20px; background: #181818;}

    .field{
        margin: 10px;

        input, select{
            margin-left: 10px;
            padding: 5px;
            border-bottom: 2px solid white;
            color: #ffffffCC;
            background: none;
        }
    }

}


/************************************************/

@media screen and (max-width: 700px){
    #main{width: 100vw; margin: 50px 0 0 0;}
}
