<div id="main">

    <div class="infos column">
        <div class="field">
            <label for="name"> Name </label>
            <input type="text" id="name" placeholder="First name">
        </div>

        <div class="field">
            <label for="surname"> Surname </label>
            <input type="text" id="surname" placeholder="Last name">
        </div>

        <div class="field">
            <label for="gender"> Gender </label>
            <select id="gender">
                <option value="male"> M </option>
                <option value="female"> F </option>
            </select>
        </div>

        <div class="field">
            <label for="place-of-birth"> Place of birth </label>
            <input type="text" id="place-of-birth" placeholder="Rome">
        </div>

        <div class="field">
            <label for="province"> Province </label>
            <input type="text" id="provice" placeholder="RM">
        </div>

        <div class="field">
            <label for="birthdate"> Birthdate </label>
            <input type="date" id="birthdate" placeholder="1998-08-09" onfocus="(this.type='date')"
            onblur="(this.type='text')">
        </div>
    </div>

</div>
