#title{width: 100%; height: 50px; margin: 30px 0 15px 0; color: var(--textColor); text-align: center;}

#main{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 15px 0 0 0;
    color: var(--textColor);

    .infos{width: 90%; padding: 25px; border-radius: 20px; background: var(--backgroundAlt);}

    .field{
        margin: 10px;

        input, select{
            margin-left: 10px;
            padding: 5px;
            border-bottom: 2px solid var(--textColor);
            color: var(--textColor);
            background: none;
        }

        input:focus, select:focus{border-bottom: 2px solid var(--primary);}
        label:focus-within{color: var(--primary) !important;}
    }

    .btns{
        width: 90%;
        gap: 10px;
        justify-content: space-between;
        
        button{
            width: 49%;
            margin: 15px 0;
            padding: 17px;
            border-radius: 10px;
            color: var(--textColor);
            background: var(--backgroundAlt);
            transition: .25s;
        }
        button:hover{color: white; transition: .25s;}
        button.discard:hover{background: var(--messageRed);}
        button.save:hover{background: var(--messageGreen);}
    }

    h3.controls{width: 90%; margin-top: 20px; text-align: left;}

    .control-btns{
        width: 90%;
        margin-top: 15px;

        button{
            border-radius: 10px;
            color: var(--textColor);
            background: var(--backgroundAlt);
            margin-right: 15px;
            padding: 10px;
            transition: .25s;

            span{
                width: 40px; height: 40px;
                display: block;
                margin: 5px;
            }
        }
        button:hover{transition: .25s;}

        button.delete-profile span{
            background: url(../../../../assets/icons/delete-profile-white.svg);
        }
        button.delete-profile:hover{
            background: var(--backgroundAlt2);
            p{color: var(--primary);}
            span{background: url(../../../../assets/icons/delete-profile.svg);}
        }

        button.change-password span{
            background: url(../../../../assets/icons/change-password-white.svg);
        }
        button.change-password:hover{
            background: var(--backgroundAlt2);
            p{color: var(--primary);}
            span{background: url(../../../../assets/icons/change-password.svg);}
        }
    }

}


/************************************************/

@media screen and (max-width: 700px){
    #main{width: 100vw; margin: 50px 0 0 0;}
}
