<h1 id="title"> Profile </h1>

<div class="center-flex column" id="main">
    <div class="infos column">
        <div class="field">
            <label for="name"> Name
                <input type="text" id="name" [value]="user.name">
            </label>
        </div>

        <div class="field">
            <label for="surname"> Surname
                <input type="text" id="surname" [value]="user.surname">
            </label>
        </div>

				<div class="field">
					<label for="email"> E-mail
							<input type="text" id="email" [value]="user.email">
					</label>
			</div>
    </div>

    <div class="btns row">
        <button class="discard"> DISCARD </button>
        <button class="save"> SAVE </button>
    </div>

    <h3 class="controls"> Other settings </h3>
    
    <div class="control-btns row">
        <button class="delete-profile center-flex column">
            <span></span>
            <p> Delete profile </p>
        </button>

        <button class="change-password center-flex column">
            <span></span>
            <p> Password reset </p>
        </button>
    </div>

</div>
