#main{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0 0 0;
    color: var(--textColor);

    .infos{width: 90%; padding: 25px; border-radius: 20px; background: var(--backgroundAlt);}

    .field{
        margin: 10px;

        input, select{
            margin-left: 10px;
            padding: 5px;
            border-bottom: 2px solid var(--textColor);
            color: var(--textColor);
            background: none;
        }

        input:focus, select:focus{border-bottom: 2px solid var(--primary);}
        label:focus-within{color: var(--primary) !important;}
    }

}


/************************************************/

@media screen and (max-width: 700px){
    #main{width: 100vw; margin: 50px 0 0 0;}
}
