nav{
	width: 100vw; height: 75px;
	position: fixed;
	top: 0;
	align-items: center;
	justify-content: space-between;
	padding: 0 25px;
	color: var(--textColor);
	border-bottom: 1px solid var(--backgroundAlt);
	backdrop-filter: blur(15px);

	.items{
		margin-right: 45px;

		.icon{width: 40px; height: 40px; margin-left: 5px; padding: 5px; cursor: pointer;}
		.icon span{width: 25px; height: 25px; display: block;}
		.icon:hover{width: 40px; height: 40px; border-radius: 5px; background: var(--backgroundAlt); transition: .25s;}
		
		.icon.user.light span{background: url('../../../assets/icons/user-light.svg') center/contain no-repeat;}
		.icon.user.dark span{background: url('../../../assets/icons/user-dark.svg') center/contain no-repeat;}
	}
}

#sidebar{
	width: 250px; height: calc(100vh - 75px);
	position: fixed;
	top: 75px;
	padding: 25px 15px;
	color: var(--textColor);
	background: var(--backgroundAlt);

	ul li{
		margin: 10px 0;
		padding: 10px;
		border-radius: 10px;
		transition: .25s;
		cursor: pointer;
	}
	ul li.active, ul li:hover{background-color: var(--backgroundAlt2); transition: .25s;}
}

.wrapper{padding: 75px 0 0 250px;}



@media screen and (max-width: 700px){
	#sidebar{display: none;}
}