<div class="wrapper center-flex column">
	<form #loginForm="ngForm" id="authentication-box" class="column" (ngSubmit)="loginSubmit(loginForm)">
		<div class="fields column">
			<div class="field row">
				<div class="icon email center-flex" [ngClass]="lightTheme ? 'dark' : 'light'"> <span></span> </div>
				<input type="email" placeholder="E-mail" name="email" id="email" required email ngModel>
			</div>
			<div class="field row">
				<div class="icon password center-flex" [ngClass]="lightTheme ? 'dark' : 'light'"> <span></span> </div>
				<input type="password" placeholder="Password" name="password" id="password" required ngModel>
			</div>
		</div>

		<div class="forgot-password"> <a class="link" (click)="goToForgotPassword()">Forgot password?</a> </div>

		<button type="submit" [disabled]="!loginForm.valid"> LOGIN </button>

		<p class="error" *ngIf="errorMessage"> {{ errorMessage }} </p>
		<p class="success" *ngIf="successMessage"> {{ successMessage }} </p>
	</form>
	<a class="link" (click)="goToRegister()">Don't have an account yet?</a>
</div>