<h1 id="title" routerLink="/home" href="/home"> Fiscal Code Calculator </h1>

<div class="wrapper center-flex column">

    <form id="authentication-box" class="column" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="fields column">
            <div class="field row">
                <div class="icon email center-flex"> <span></span> </div>
                <input type="email" placeholder="E-mail" formControlName="email">
            </div>
        
            <div class="field row">
                <div class="icon password center-flex"> <span></span> </div>
                <input type="password" placeholder="Password" formControlName="password">
            </div>
        </div>
    
        <div class="forgot-password">
            <a class="link"> Forgot password? </a>
        </div>
    
        <button type="submit" [disabled]="!loginForm.valid"> LOGIN </button>
    
    </form>
    
    <a class="link" routerLink="/register" href="/register"> Don't have an account yet? </a>

</div>