<div class="wrapper center-flex column">
	<form #registerForm="ngForm" id="authentication-box" class="column" (ngSubmit)="registerSubmit(registerForm)">
		<div class="fields column">
			<div class="field row name-surname">
				<div class="icon user center-flex" [ngClass]="lightTheme ? 'dark' : 'light'"> <span></span> </div>
				<input type="text" placeholder="Name" name="name" id="name" required ngModel>
				<input type="text" placeholder="Surname" name="surname" id="surname" required ngModel>
			</div>
			<div class="field row">
				<div class="icon email center-flex" [ngClass]="lightTheme ? 'dark' : 'light'"> <span></span> </div>
				<input type="email" placeholder="E-mail" name="email" id="email" required email ngModel>
			</div>
			<div class="field row">
				<div class="icon password center-flex" [ngClass]="lightTheme ? 'dark' : 'light'"> <span></span> </div>
				<input type="password" placeholder="Password" name="password" id="password" required ngModel>
			</div>
			<div class="field row">
				<div class="icon confirm-password center-flex" [ngClass]="lightTheme ? 'dark' : 'light'"> <span></span> </div>
				<input type="password" placeholder="Confirm Password" name="repeatpassword" id="repeatpassword" required ngModel>
			</div>
		</div>

		<div class="forgot-password">
				<a class="link" (click)="goToLogin()"> Already have an account? Login </a>
		</div>

		<button type="submit" [disabled]="!registerForm.valid"> REGISTER </button>

	</form>
	<p> Continuando, accetti l’informativa sulla privacy contenuta nel d.lgs. 196/03 s.m.i. </p>
</div>
