#main{
    width: calc(100vw - 250px);
    display: flex;
    justify-content: center;
    margin: 50px 0 0 250px;
    color: white;

    .history{
        .card{
            background: #181818;
            margin-bottom: 15px;
            padding: 25px;
            border-radius: 15px;

            .person h2{color: #E63946;}
        }
    }

}


/************************************************/


@media screen and (max-width: 700px){
    #main .history{
        .card{
            flex-direction: column;
            width: 90vw;
        }
    }
}


@media screen and (max-width: 700px){
    #main{width: 100vw; margin: 50px 0 0 0;}
}
