#main{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0 0 0;
    color: var(--textColor);

    .history{
        width: 90%;
        padding-bottom: 75px;

        .card{
            justify-content: space-between;
            margin-bottom: 15px;
            padding: 25px;
            border-radius: 15px;
            background: var(--backgroundAlt);

            .person h2{color: #E63946;}
        }
    }

    button.calculate{
        width: 90%;
        margin: 15px;
        padding: 17px;
        border-radius: 10px;
        color: var(--textColor);
        background: var(--backgroundAlt);
        transition: .25s;
    }
    button.calculate:hover{color: white; background: var(--primary); transition: .25s;}

}


/************************************************/


@media screen and (max-width: 700px){
    #main .history{
        .card{
            flex-direction: column;
            width: 90vw;
        }
    }
}


@media screen and (max-width: 700px){
    #main{width: 100vw; margin: 50px 0 0 0;}
}