<form #fiscalCodeForm="ngForm" class="center-flex column" id="main" (ngSubmit)="createFiscalCode(fiscalCodeForm)">
    <div class="infos column">
        <div class="field">
            <label class="center-flex" for="name">
                <p> Name </p>
                <input type="text" id="name" name="name" placeholder="John" ngModel>
            </label>
        </div>

        <div class="field">
            <label class="center-flex" for="surname">
                <p> Surname </p>
                <input type="text" id="surname" name="surname" placeholder="Doe" ngModel>
            </label>
        </div>

        <div class="field">
            <label class="center-flex" for="gender">
                <p> Gender </p>
                <select id="gender" name="gender" ngModel>
                    <option value="male"> M </option>
                    <option value="female"> F </option>
                </select>
            </label>
        </div>

        <div class="field">
            <label class="center-flex" for="placeofbirth">
                <p> Place of birth </p>
                <input type="text" id="placeofbirth" name="placeofbirth" placeholder="RM" ngModel>
            </label>
        </div>

        <div class="field">
            <label class="center-flex" for="dateofbirth">
                <p> Date of birth </p>
                <input type="date" id="dateofbirth" name="dateofbirth" placeholder="1998-08-09" ngModel>
            </label>
        </div>
    </div>
    <button class="calculate"> CALCULATE </button>
</form>