<div class="wrapper center-flex column">
	<form #forgotPasswordForm="ngForm" id="authentication-box" class="column" (ngSubmit)="emailSubmit(forgotPasswordForm)">
		<div class="fields column">
			<div class="field row">
				<div class="icon email center-flex" [ngClass]="lightTheme ? 'dark' : 'light'"> <span></span> </div>
				<input type="email" placeholder="E-mail" name="email" id="email" required email ngModel>
			</div>
		</div>

		<button type="submit" [disabled]="!forgotPasswordForm.valid"> SEND EMAIL </button>
	</form>
	<a class="link" (click)="goBack()"> Go Back </a>
</div>