.wrapper{width: 100vw; height: calc(100vh - 90px);}

#authentication-box{
    padding: 25px;
    border-radius: 15px;
    background-color: var(--backgroundAlt);

    .fields{
        gap: 15px;

        .name-surname input{
            width: 115px !important;
        }

        .field{
            width: 100%;
            gap: 20px;
        
            .icon{
                width: 50px; height: 50px;
                background: var(--backgroundAlt2);
                padding: 5px;
                border-radius: 10px;
            }

            .icon span{width: 25px; height: 25px; display: block;}
            .icon.user.light span{background: url('../../../assets/icons/user-light.svg') center/contain no-repeat;}
            .icon.email.light span{background: url('../../../assets/icons/envelope-light.svg') center/contain no-repeat;}
            .icon.password.light span{background: url('../../../assets/icons/lock-light.svg') center/contain no-repeat;}
            .icon.confirm-password.light span{background: url('../../../assets/icons/confirm-password-light.svg') center/contain no-repeat;}

            .icon.user.dark span{background: url('../../../assets/icons/user-dark.svg') center/contain no-repeat;}
            .icon.email.dark span{background: url('../../../assets/icons/envelope-dark.svg') center/contain no-repeat;}
            .icon.password.dark span{background: url('../../../assets/icons/lock-dark.svg') center/contain no-repeat;}
            .icon.confirm-password.dark span{background: url('../../../assets/icons/confirm-password-dark.svg') center/contain no-repeat;}


            input{
                width: 250px;
                padding: 10px 15px;
                border-radius: 10px;
                color: var(--textColor);
                background-color: var(--backgroundAlt2);
            }

        }
    }

    .forgot-password{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        
        a{margin: 10px 0 10px 0; color: var(--textColor); font-size: 0.9em; text-align: right;}
    }

    button{
        height: 65px;
        margin-top: 10px;
        border-radius: 10px;
        color: var(--textColor);
        font-size: 1.25em;
        font-weight: bold;
        background: var(--primary);
    }
    button:hover{background: var(--primary);}
    button:disabled{background: var(--backgroundAlt2); cursor: not-allowed;}
}

a.link, p{max-width: 350px; margin-top: 25px; color: var(--textColor); font-size: 0.9em; text-align: center;}